<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,opencover,json</Format>
          <Exclude>[*]*.Program,[*]*.Startup,[*]*.AssemblyInfo,[*]*Migrations*,[*]*Tests*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/bin/**/*,**/obj/**/*,**/*Designer.cs,**/*.g.cs,**/*.g.i.cs</ExcludeByFile>
          <Include>[BidOne.*]*</Include>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>false</DeterministicReport>
          <ThresholdForCyclomaticComplexity>20</ThresholdForCyclomaticComplexity>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  
  <RunConfiguration>
    <ResultsDirectory>./TestResults</ResultsDirectory>
    <CollectSourceInformation>true</CollectSourceInformation>
  </RunConfiguration>
  
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="trx" enabled="True">
        <Configuration>
          <LogFileName>TestResults.trx</LogFileName>
        </Configuration>
      </Logger>
      <Logger friendlyName="html" enabled="True">
        <Configuration>
          <LogFileName>TestResults.html</LogFileName>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
